@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-background: 255 255 255;
        --color-foreground: 17 24 39;
    }

    .dark {
        --color-background: 17 24 39;
        --color-foreground: 243 244 246;
    }
}
